:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --filter-button-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* Утилиты */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}
/* Conteiner*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Header */

.page-header {
  border-bottom: 1px solid #eeeeee;
}

.page-link {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.page-logo {
  color: var(--accent-text-color);
}

.page-nav {
  display: flex;
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav .nav-item + .nav-item {
  margin-left: 50px;
}

.nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}

.current {
  color: var(--accent-text-color);
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-link:focus,
.contacts-link:hover {
  color: var(--accent-text-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  min-height: 600px;
  background-color: #2f303a;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-button {
  border: transparent;
  padding: 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Features */

.features-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: #f5f4fa;
  margin-bottom: 30px;
}

.icon-sputnik::before {
  background-image: url(../image/иконки\ svg/sput.tar.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  background-image: url(../image/иконки\ svg/clockoff.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-comp::before {
  background-image: url(../image/иконки\ svg/comp.graf.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  background-image: url(../image/иконки\ svg/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
}

.features {
  display: flex;
  /* justify-content: center; */
}

.features > .features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Works */

.work-section {
  padding-top: 0px;
}

.works {
  display: flex;
}

.works > .works-item:not(:last-child) {
  margin-right: 30px;
}

.works-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

/* Team */
.team {
  background: #f5f4fa;
}

.section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-name {
  display: flex;
}

.team-name > .team-item:not(:last-child) {
  margin-right: 30px;
}

.people {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

/* Filters */

.filter-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-container:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border: transparent;
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-text-color);
}

.filter-button:hover,
.filter-button:focus {
  background: #2196f3;
  color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.portfolio > .portfolio-item {
  /* flex-basis: calc(100% / 3 -30px); */

  margin-left: 30px;
  margin-top: 30px;
}

.card-content {
  padding: 25px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-link {
  display: block;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/* Footer */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.website {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;
  padding-right: 1154px;
}

.footer-logo {
  color: var(--accent-text-color);
}

.address {
  margin-top: 20px;
}

.footer-address {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-main {
  font-style: normal;
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link a {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
