:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --filter-button-color: #f5f4fa;
  --s-v-g: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* Утилиты */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}
/* Conteiner*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Header */

.page-header {
  border-bottom: 1px solid #eeeeee;
}

.page-link {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  outline: none;
}
.page-logo {
  color: var(--accent-text-color);
  outline: none;
}

.page-nav {
  display: flex;
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav .nav-item + .nav-item {
  margin-left: 50px;
}

.nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
  outline: none;
}

.current {
  position: relative;
  display: block;
  color: var(--accent-text-color);
}

.current::after {
  content: "";

  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-text-color);
  bottom: 0;
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:focus,
.contacts-link:hover {
  color: var(--accent-text-color);
  outline: none;
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail:hover,
.icon-mail:focus,
.icon-phone:focus,
.icon-Phone:hover {
  fill: var(--accent-text-color);
}

.icon-phone,
.icon-mail {
  fill: currentColor;
}

/* Hero */
.hero {
  max-width: 1600px;
  min-height: 600px;
  background-color: #2f303a;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-button {
  border: transparent;
  padding: 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Features */
.icon-features {
  /* width: 270px;
  height: 120px; */
  background-color: #f5f4fa;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.icon-sputnik {
  /* display: block;
  margin: 0; */
  width: 70px;
  height: 70px;
  /* margin-bottom: 30px; */
}
.icon-clock {
  width: 70px;
  height: 70px;
}

.icon-graphik {
  width: 70px;
  height: 70px;
}

.icon-astronaut {
  width: 70px;
  height: 70px;
}

.features {
  display: flex;
}

.features > .features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Works */

.work-section {
  padding-top: 0px;
}

.works {
  display: flex;
}

.works > .works-item:not(:last-child) {
  margin-right: 30px;
}

.works-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.box {
  position: relative;
}

.work-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
}

.overlay-text {
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Team */
.team {
  background: #f5f4fa;
}

.section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-name {
  display: flex;
}

.team-name > .team-item:not(:last-child) {
  margin-right: 30px;
}

.people {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}

.team-social-box {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-social:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-team {
  width: 20px;
  height: 20px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-text-color);
  fill: #ffffff;
  outline: none;
}

.team-social-link:hover .icon-link-team,
.team-social-link:focus .icon-link-team {
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link svg {
  fill: #afb1b8;
}

/* Clients */

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--secondary-text-color);
}

.clients-companies {
  display: flex;
  margin-top: 50px;
}

.clients-company:not(:last-child) {
  margin-right: 30px;
}

.company {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: none; */
}

.company svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.company:focus,
.company:hover {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
  outline: none;
}

.company:hover .icon,
.company:focus .icon {
  fill: var(--accent-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

/* Portfolio-section */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

/* Filters */

.filter-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-container:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border: transparent;
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.portfolio > .portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
}

.img-thumb {
  position: relative;
  overflow: hidden;
}

.img-thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-overlay {
  display: block;
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;

  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;

  outline: none;
  padding: 63px 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:focus .img-overlay,
.portfolio-link:hover .img-overlay {
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: 25px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/* Footer */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.website {
  display: block;
  /* margin-bottom: 20px; */
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  outline: none;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: var(--accent-text-color);
}

.address {
  margin-top: 20px;
  /* margin-bottom: auto; */
}

.footer-address {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-main {
  font-style: normal;
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link a {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link a:focus,
.footer-link a:hover {
  color: var(--accent-text-color);
  outline: none;
}

.join-container {
  width: 206px;
  margin-left: 70px;

  /* justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 100px;
  margin-top: 20px; */
}

.join-title {
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.bottom-links {
  display: flex;
}

.bottom-link:not(:last-child) {
  margin-right: 10px;
}
.icon-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-join {
  width: 20px;
  height: 20px;
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-text-color);
  fill: #ffffff;
  outline: none;
}

/* Form Mail */
.footer-form {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.form-title {
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form-box {
  display: flex;
}

.field {
}

.form-field {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  margin-right: 12px;
}

.form-field:focus,
.form-field:hover {
  border-color: var(--accent-text-color);
  outline: none;
}

.form-field::placeholder {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
/* 
.field-button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-bottom: 94px;
} */

.form-button {
  display: flex;
  border: transparent;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  margin-right: 12px;
  padding: 10px 0 10px 29px;
  width: 200px;
  height: 50px;
}

.form-button:focus,
.form-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  /* padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 28px; */
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  padding: 40px 40px 0 40px;
  margin-bottom: 30px;
}

/* .form-modal {
  max-width: 448px;
  max-height: 342px;
} */

.modal-field {
  width: 448px;
  height: 58px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.form-modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-label {
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 50px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:focus,
.modal-label:hover {
  border-color: var(--accent-text-color);
  outline: none;
}

.modal-field:focus-within .modal-icon {
  fill: var(--accent-text-color);
}

.modal-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  top: 25px;
  left: 25px;
  width: 18px;
  height: 18px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  width: 448px;
  height: 138px;
  margin-left: 40px;
  margin-right: 40px;
}

.comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.comment::placeholder {
  position: absolute;
  left: 0;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment:placeholder-shown {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.comment:not(:placeholder-shown) {
  border-color: var(--accent-text-color);
  outline: none;
}

.comment:hover,
.comment:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  font-weight: 400;
  line-height: 1.71;
  /* margin-left: 54px;
  margin-top: 20px; */
}

.checkbox {
  margin-right: -17px;
}

.checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 2px;
  margin-right: 8px;
}

.icon-check {
  display: block;
  width: 16px;
  height: 15px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  margin-right: 7px;

  /* opacity: 0; */
}

.checkbox:checked ~ .icon-check {
  fill: var(--accent-text-color);
}

.modal-policy {
  margin-left: 7px;

  color: var(--primary-text-color);
}

.policy-link {
  text-decoration-line: underline;

  color: #2196f3;
}

.modal-send {
  width: 200px;
  height: 50px;
  margin: 30px 164px 40px 164px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
