/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-text-color;
    outline: none;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: $primary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__icon:hover,
  &__icon:focus {
    fill: $accent-text-color;
  }
}

// .contacts__phone {
//   width: 10px;
//   height: 16px;
//   margin-right: 10px;
//   fill: $primary-text-color;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .contacts__phone:focus,
//   .contacts__phone:hover {
//     fill: $accent-text-color;
//   }
// }

.contacts__icon {
  fill: currentColor;
}
