/* Filters */

.filters__items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__container:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  border: transparent;
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: $secondary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $accent-text-color;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
  }
}
