/* Footer */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-widht: 1199px) {
  text-align: center;
}
    
  
}

.footer__website {
  display: block;
   margin-bottom: 20px; 
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  outline: none;
}

.footer__container {
  @media screen and  (min-widht: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
      align-items: baseline;
      display: flex;
  }
}

.footer__logo {
  color: $accent-text-color;
}

.footer__section {
   @media screen  and (max-width: 767px) {
     margin-bottom: 60px;
   }
}

.footer__container--unity {
 @media screen  and (max-width: 767px) {
   margin-bottom: 60px;
   text-align: center;
 }

  @media screen  and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
  }
}

.footer__section {
  @media screen and  (min-width: 768px) and (max-width: 1199px) {
    margin-right: 153px;
    margin-bottom: 60px;
  }
}
