/* Footer */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__website {
  display: block;
  /* margin-bottom: 20px; */
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  outline: none;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: $accent-text-color;
}
