/* Header */
.header__page {
  
  min-width: 60px;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    padding: 0 15px;

    @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  }

.header {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 24px 0;
  }
}
