  @media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
  }
}
  
  
  .mobile-menu {

    // &__menu--links {
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    // align-items: baseline;
    // }
   

	&__nav {
margin-bottom: 190px;
text-align: initial;
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #212121;
 		}

		 &__nav-item:not(:last-child) {
             margin-bottom: 32px;
		 }

       

        

		&__nav-link {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;

color: #212121;
}



&__nav-link:focus,
&__nav-link:hover {
    color: #2196F3;
    outline: none;
}



// 		&__contacts {
//                 padding-left: 40px;
//     padding-right: 94px;
//     margin-top: 0;
   
// }

	&__contacts-item {
text-align: initial;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #757575;
  &:not(:last-child) {
    margin-bottom: 32px;
		}
}
&__contacts-link {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;

color: #757575
}

&__contacts-link:hover,
&__contacts-link:focus {
    color: #2196F3;
    outline: none;
}

		&__set {
        display: flex;
    margin-top: 64px;

		}

		&__item:not(:last-child) ::after {
    margin-left: 10px;
    margin-right: 10px;
    content: "|";
    color: rgba(33, 33, 33, 0.2);
		}

		&__link {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: #2196F3;
outline: none;
}
// }
// .contacts {

		&__icon:hover,
    &__icon:focus {
    fill: #2196F3;
  }
}

