.backdrop {
  position: fixed;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  @media screen and (max-width: 767px) {
    overflow-y: scroll;
  }

  @media screen and (min-width: $tablet) {
    position: fixed;
    
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 50%) scale(1.1);
}

.modal {
  @media screen and (min-width: $mobile) {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 450px;
    max-height: 609px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: $desktop) {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-button {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-field {
  height: 58px;
  margin-bottom: 10px;
}

.form-modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}

.modal-label {
  margin-top: 4px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 50px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:focus,
.modal-label:hover {
  border-color: $accent-text-color;
  outline: none;
}

.modal-field:focus-within .modal-icon {
  fill: $accent-text-color;
}

.modal-icon {
  position: absolute;
  top: 25px;
  left: 19px;
  width: 18px;
  height: 18px;
  fill: $secondary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  height: 138px;
}

.comment {
  @media screen and (min-width: $mobile) {
    width: 370px;
  }

  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    width: 448px;
  }
}

.comment::placeholder {
  position: absolute;
  left: 0;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment:placeholder-shown {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.comment:not(:placeholder-shown) {
  border-color: $accent-text-color;
  outline: none;
}

.comment:hover,
.comment:focus {
  border-color: $accent-text-color;
  outline: none;
}

.policy {
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  font-weight: 400;
  line-height: 1.71;
}

.checkbox {
  /* appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 2px solid $secondary-text-color;
  margin-right: 7px;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: $accent-text-color;
  background-image: url(/./image/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-policy {
  margin-left: 7px;

  color: $primary-text-color;
}

.policy-link {
  text-decoration-line: underline;

  color: #2196f3;
}

.modal-send {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.modal-send:focus,
.modal-send:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}
