/* Team */
.section--other-background {
  background: #f5f4fa;
}

.section__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: $secondary-text-color;
}

.team {
  display: flex;
}

.team > .team__item:not(:last-child) {
  margin-right: 30px;
}

.team__box {
  margin-top: -8px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $secondary-text-color;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $primary-text-color;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__link:hover,
.social__link:focus {
  background-color: $accent-text-color;
  fill: #ffffff;
  outline: none;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link .social__icon {
  fill: #afb1b8;
}
